<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DispenseApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DispenseApp.Properties.Settings>
            <setting name="scale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UnitsDesc" serializeAs="String">
                <value>Pulses</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="PumpDesc" serializeAs="String">
                <value>Pump</value>
            </setting>
            <setting name="ValveDesc" serializeAs="String">
                <value>Valve</value>
            </setting>
        </DispenseApp.Properties.Settings>
    </userSettings>
</configuration>